@import "tailwindcss";

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
  --font-heading: "Playfair Display", Georgia, serif;

  /* Colors */

  --color-background: #f2f2f2;
  --color-card: #ffffff;
  --color-edges: #dddddd;
  --color-text-muted: #aaaaaa;
  --color-dark-bg: #262626; /* Footer, hero bg */

  /* Background images */
  --background-image-hero: url("../images/gavel-hero-2.jpg");
  --color-text-secondary: #888888;
  --color-dark-highlights: #484848;
  --color-dark-btn: #131313;

  /* Accent: Use these standard tailwind colors */
  /* light: teal-500 */ /* primary: teal-600 / hover: teal-700 */
  /* danger: red-500 */ /* danger border: red-500/50 */
  /* danger bg: red-500/20 */ /* success: green-500 */
  /* success border: green-500/50 */ /* success bg: green-500/20 */

  --breakpoint-xs: 30rem; /* 480px */

  --text-2xs: 10px;
}

.inputs {
  @apply border-edges bg-background rounded-md border px-4 py-1 hover:border-teal-600 focus:ring-2 focus:ring-teal-600 focus:outline-none;
}

.btn-primary {
  @apply my-2 cursor-pointer rounded-md bg-teal-600/80 px-4 py-2 text-white transition hover:bg-teal-700/70;
}

.btn-primary-form {
  @apply my-2 cursor-pointer rounded-md bg-teal-600 px-4 py-2 text-sm text-white transition hover:bg-teal-700;
}

.btn-cancel-form {
  @apply bg-edges/20 hover:bg-edges my-2 cursor-pointer rounded-md border border-gray-300 px-4 py-2 text-sm;
}

.btn-filter {
  @apply rounded-full border border-teal-600 px-4 py-1.5 text-sm transition hover:bg-teal-600 hover:text-white;
}

.btn-secondary {
  @apply bg-dark-btn rounded-md py-2 text-center text-white hover:bg-black;
}

.btn-ghost {
  @apply my-2 cursor-pointer rounded-md bg-teal-600/20 px-4 py-2 text-white transition hover:bg-teal-700/50;
}

.filter-btn {
  @apply border-edges bg-card text-text-secondary border hover:border-teal-500 hover:text-teal-600;
}

.active-filter {
  @apply border-teal-600 bg-teal-600 text-white hover:border-teal-700 hover:bg-teal-700 hover:text-white;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-dark-bg);
  }
  h1,
  h2 {
    font-family: var(--font-heading);
  }
}
